	<!-- start banner Area -->
<section class="banner-area relative" id="home">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <h1 class="text-white">
                    Kontakta oss
                </h1>
                <p class="text-white"><a asp-controller="Home" asp-action="Index">Hem</a>  <span class="lnr lnr-arrow-right"></span>  <a asp-controller="Contact" asp-action="Index"> Kontakt</a></p>
            </div>
        </div>
    </div>
</section>
<!-- End banner Area -->
<!-- Start contact-page Area -->
<section class="contact-page-area section-gap">
    <div class="container">
        <div class="row">

            <div class="col-lg-4 d-flex flex-column">
                <a class="contact-btns" href="#"><i class="fa fa-map-marker"></i>Örebro, Sweden</a>
                <a class="contact-btns" href="#"><i class="fa fa-phone"></i>+46 70 123 45 67</a>
                <a class="contact-btns icons" href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i>info@joblisting.com</a>
            </div>
            <div class="col-lg-8">
                <form class="form-area contact-form text-right " id="myForm" action="mail.php" method="post">
                    <div class="row">
                        <div class="col-lg-12 form-group">
                            <input name="name" placeholder="Skriv ditt namn" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Skriv ditt namn'" class="common-input mb-20 form-control" required="" type="text">

                            <input name="email" placeholder="Skriv din mailadress" pattern="[A-Za-z0-9._%+-]+@@[A-Za-z0-9.-]+\.[A-Za-z]{1,63}$" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Skriv din mailadress'" class="common-input mb-20 form-control" required="" type="email">

                            <input name="subject" placeholder="Ämne" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Ämne'" class="common-input mb-20 form-control" required="" type="text">
                            <textarea class="common-textarea mt-10 form-control" name="message" placeholder="Skriv ditt meddelande" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Skriv ditt meddelande'" required=""></textarea>
                            <button class="primary-btn mt-20 text-white" style="float: right;">Skicka</button>
                            <div class="mt-20 alert-msg" style="text-align: left;"></div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- End contact-page Area -->