
  	<!-- start banner Area -->
<section class="banner-area relative" id="home">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <h1 class="text-white">
                    Mina sidor
                </h1>
                <p class="text-white"><a asp-controller="Home" asp-action="Index">Hem </a>  <span class="lnr lnr-arrow-right"></span>  <a asp-controller="Company" asp-action="Index"> Profil</a></p>
            </div>
        </div>
    </div>
</section>
<!-- End banner Area -->
<!-- Start post Area -->
<section class="post-area section-gap">
    <div class="container home-user">
        <div class="row justify-content-center d-flex">
            <div class="col-lg-4 sidebar">

                <h3>Välkommen till mina sidor! </h3>

            </div>
            <div class="col-lg-5 post-list">

            </div>
        </div>
    </div>
</section>
<!-- End post Area -->
