@model UserInformationViewModel




@*<ul class="cat-list">

        @foreach (var city in Model)
        {
            <li>
                <a class="justify-content-between d-flex" asp-controller="Home" asp-action="List"
                   asp-route-category="@city.CityName"><p>@city.CityName</p><span>0</span></a>
            </li>
        }
    </ul>*@

@*<div class="default-select" id="default-selects">
    <select asp-for="City" asp-items='(new SelectList(Model.CityList, "Value", "Text"))'>
        <option>Stad</option>
    </select>
</div>*@