@model IEnumerable<IdentityRole>

@{
    ViewBag.Title = "All Roles";
}

<!-- start banner Area -->
<section class="banner-area relative" id="home">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <h1 class="text-white">
                    Admin
                </h1>
                <p class="text-white"><a asp-controller="Home" asp-action="Index">Hem </a>  <span class="lnr lnr-arrow-right"></span>  <a asp-controller="Admin" asp-action="ListRoles"> Lista på Roller</a></p>
            </div>
        </div>
    </div>
</section>
<!-- End banner Area -->

<section class="post-area section-gap">
    <div class="container home-user">
        <div class="row justify-content-center d-flex">
            <div class="col-lg-4 sidebar">
                <h1> All Roles </h1>
            </div>
            <div class="col-lg-5 post-list">

                @if (Model.Any())
                {

                    <a class="btn btn-primary" style="width:auto" asp-controller="Admin" asp-action="CreateRole">
                        Add new role
                    </a>

                    foreach (var role in Model)
                    {
                        <div class="card mb-3">
                            <div class="card-header">
                                Role Id: @role.Id
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">@role.Name</h5>
                            </div>
                            <div class="card-footer">
                                <a class="btn btn-primary" asp-action="EditRole" asp-controller="Admin" asp-route-id="@role.Id">Edit</a>
                                <a href="#" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this role : @role.Name')">Delete</a>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <div class="card">
                        <div class="card-header">
                            No roles created yet
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">
                                Use the button below to create a role
                            </h5>
                            <a class="btn btn-primary" style="width:auto" asp-controller="Admin" asp-action="CreateRole">
                                Create Role
                            </a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>


